<!DOCTYPE html>
<html lang="<%= config.language %>" color-mode="light">
<head>
  <%- partial('_partial/head') %>
  <!-- 图片错误处理样式 -->
  <link rel="stylesheet" href="/css/image-error.css">
</head>

  <%- partial('_partial/loading-pages') %>
  <%- partial('_partial/header') %>

  <body>
    <div id="app">
      <%- partial('_partial/navigation') %>

      <div class="flex-container">
        <%- body %>
        <%- partial('_partial/footer') %>
      </div>

      <div class="tools-bar">
        <%- partial('_partial/backtotop') %>

        <%- partial('_partial/search') %>

        <%- partial('_partial/colorscheme') %>

        <%- partial('_partial/shares') %>
      </div>
    </div>
    <!-- 图片错误处理脚本 -->
    <script src="/js/imageError.js"></script>
  </body>
  <!-- <%- partial('_partial/loading-pages') %> -->
</html>
